@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

table, tr, th, td {
  all: reset;
  border: none;
}

table {
  width: 100%;
}
thead {
  width: 100%;
}

th {
  font-weight: 400;
}

tr {
  background: none !important;
  width: 100%;
}

th, td {
  width: 1%;
  padding: 2%;
}
